<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @account.user_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @account.premium %>
</p>

<p>
  <strong>Income:</strong>
  <%= @account.income %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
